<h1>Welcome to the workout tracker</h1>
<form>
  <h2>Please enter a new workout and click "submit" to save</h2>
  <p><input type="text" name="name" value="required text"> Exercise Name</p>
  <p><input type="number" min="0" name="reps"> Reps</p>
  <p><input type="number" min="1" name="weight"> Weight
    <p>
      <input type="radio" value="lbs" name="wtChoice" checked> lbs
      <input type="radio" value="kg" name="wtChoice"> kg
    </p>
  </p>
  <p><input type="date" name="date"> Date</p>
  <button type="submit">SUBMIT WORKOUT</button>
</form>

<h2>Here is a table showing all your completed exercises</h2>

<!---
<table id="workoutTable">
    <tr>
      <th>ID#</th>
      <th>Exercise Name</th>
      <th>Reps</th>
      <th>Weight</th>
      <th>lbs / kg</th>
      <th>Date</th>
      <th></th>
      <th></th>
    </tr>

    {{#each dataList}}
      <tr>
        <td>{{id}}</td>
        <td>{{name}}</td>
        <td>{{reps}}</td>
        <td>{{weight}}</td>
        {{#if lbs}}
          <td>lbs</td>
        {{else}}
          <td>kg</td>
        {{/if}}
        <td>{{date}}</td>
        <td><input type="button" value="delete"
                    onclick="deleteRow('workoutTable',this)"></td>
        <td><input type="button" value="edit" 
                    onclick="editRow('workoutTable',this)"></td>
      </tr>
      {{/each}}
</table>
--!>

<script type="text/javascript" src="wk9JavaScriptHome.js"></script>
